<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/spotify.css">
        <script type="text/javascript" data-main="/js/app.js" src="//cdn.jsdelivr.net/requirejs/2.1.9/require.min.js"></script>
        <link href="AppIcon29x29.png" rel="icon" type="image/png" />
        <link href="AppIcon76x76.png" rel="apple-touch-icon" />
        <link href="AppIcon76x76.png" rel="apple-touch-icon" sizes="76x76" />
        <link href="AppIcon76x76@2x.png" rel="apple-touch-icon" sizes="152x152" />
        <title>Bot player</title>
    </head>
    <body data-url="<%= Flower::Config.spotbot_url %>">
        <div id="player">
            <a href="" data-player="start"><i class="fa fa-play-circle"></i></a>
            <a href="" data-player="stop"><i class="fa fa-pause"></i></a>
            <a href="" data-player="next"><i class="fa fa-step-forward"></i></a>
            <span id="track-info">Track</span>
            <!--<span class="vol"><i class="fa fa-volume-up"></i>
                <span class="current">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </span>-->
        </div>
        <div id="wrapper">
            <h2><i class="fa fa-search"></i> Search track</h2>
            <input type="text" id="track" value="year:<%=Time.now.year%>" placeholder="Search for track...">
            <div id="search">
                <ul id="result">
                </ul>
            </div>
            <div id="queue">
                <h2><i class="fa fa-volume-up"></i> Volume</h2>
                <input type="text" value="0" class="volume" data-fgColor="#2bba78" data-angleOffset="-125" data-angleArc="250">
                <h2><i class="fa fa-music"></i> Current queue</h2>
                <ol>
                    <li><em>Loading</em></li>
                </ol>
            </div>
        </div>
    </body>
</html>
